<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>
    <header class="site-header mo-left header fullwidth">
		<!-- Cabeçalho fixo com barra principal de navegação -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- Logo do site -->
                    <div class="logo-header mostion">
						<a href="index.html"><img src="images/logo/logo_navbar.png" class="logo" alt=""></a>
					</div>
                    <!-- Botão de menu responsivo (hambúrguer)-->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- Links extras: Criar Conta e Login -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="criar_conta.html" class="site-button"><i class="fa fa-user"></i> Criar Conta</a>
                            <a href="login.html" class="site-button"><i class="fa fa-lock"></i> Login</a>
                        </div>
                    </div>
                    <!-- Menu de navegação principal -->
                    <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
							<!-- Link: Página Inicial -->
							<li class="active">
								<a href="#">Home</a>		
							</li>
							<!-- Menu: Sou Candidato -->
							<li>
								<a href="#">Sou Candidato <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="vagas.html" class="dez-page">Vagas</a></li>
									<li><a href="empresas.html" class="dez-page">Empresas</a></li>
									<li><a href="cadastrar_curriculo.html" class="dez-page">Cadastrar Currículo</a></li>
								</ul>
							</li>
							<!-- Menu: Sou Empresa -->
							<li>
								<a href="#">Sou Empresa <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="publicar_vaga.html" class="dez-page">Publicar Vaga</a></li>
									<li><a href="candidatos.html" class="dez-page">Encontrar Candidatos</a></li>
								</ul>
							</li>
							<!-- Link: Blog -->
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<!-- Menu: Institucional -->
							<li>
								<a href="#">Institucional <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="sobre_nos.html" class="dez-page">Sobre Nós</a></li>
									<li><a href="contato.html" class="dez-page">Contato</a></li>
									<li><a href="politica_privacidade.html" class="dez-page">Política de Privacidade</a></li>
									<li><a href="termos_uso.html" class="dez-page">Termos de Uso</a></li>
								</ul>
							</li>
						</ul>			
                    </div>
					<!-- Fim da navegação principal -->
                </div>
            </div>
        </div>
    </header>
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- contact area -->
        <div class="section-full content-inner shop-account">
            <!-- Product -->
            <div class="container">
                <div class="row">
					<div class="col-md-12 text-center">
						<h3 class="font-weight-700 m-t0 m-b20">Criar Uma Conta</h3>
					</div>
				</div>
                <div class="row">
					<div class="col-md-12 m-b30">
						<div class="p-a30 border-1  max-w500 m-auto">
							<div class="tab-content">
								<form id="cadastro-usuario" class="tab-pane active">
									<p class="font-weight-600">Preencha os campos abaixo para criar sua conta na plataforma.</p>

									<div class="form-group">
										<label class="font-weight-700">E-mail *</label>
										<input name="email" required class="form-control" placeholder="Digite seu e-mail" type="email">
									</div>

									<div class="form-group">
										<label class="font-weight-700">Senha *</label>
										<input name="senha" required class="form-control" placeholder="Crie uma senha" type="password">
									</div>

									<div class="form-group">
										<label class="font-weight-700">Tipo de Conta *</label>
										<select name="tipo" required>
											<option value="">Selecione...</option>
											<option value="candidato">Candidato</option>
											<option value="empresa">Empresa</option>
										</select>
									</div>
									<div class="product-brand">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="check1" name="example1">
											<label class="custom-control-label" for="check1">Li e Aceito os <a href="termos_uso.html">Termos de Uso</a></label>
										</div>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="check2" name="example1">
											<label class="custom-control-label" for="check2">Li e Concordo com a <a href="politica_privacidade.html">Política de Privacidade</a></label>
										</div>
									</div>
									<div class="text-left m-t20">
										<button type="submit" class="site-button button-lg outline outline-2">Criar Conta</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Product END -->
		</div>
		<!-- contact area  END -->
    </div>
    <!-- Content END-->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo/logo_footer.jpg" class="m-b15" alt=""/>
							<p class="text m-b20">A Emprega Muriaé é uma iniciativa desenvolvida por estudantes e profissionais da região, com o objetivo de aproximar empresas e candidatos, facilitando o acesso ao mercado de trabalho local.</p>
                            <div class="subscribe-form m-b20">
								<form action="#" method="post">
									<div class="input-group">
										<input name="" required class="form-control" placeholder="Seu e-mail" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Inscrever-se</button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Ajuda e Informações</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Para Candidatos</a></li>
                                <li><a href="#">Para Empresas</a></li>
                                <li><a href="#">Perguntas Frequentes</a></li>
								<li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
								<li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Encontre Vagas</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">Vagas em Muriaé</a></li>
                                <li><a href="#">Vagas remotas</a></li>
                                <li><a href="#">Estágios</a></li>
                                <li><a href="#">Vagas por área</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span>&copy; 2025 Emprega Muriaé. Todos os direitos reservados.</span></div>
                </div>
            </div>
        </div>
    </footer>
	<!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 
</body>
</html>
