<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="styles-junto.css">
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>
	
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/Banner_Empresa.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Empresas</h1>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li>Empresas que confiam e recrutam com a nossa plataforma</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		<div class="content-block">
            <div class="section-full bg-white browse-job content-inner-2">
				<div class="container">
					<div class="row">
						<div class="col-xl-9 col-lg-8">
							<div class="m-b30">
								<input type="text" class="form-control" placeholder="Pesquisar empresas por nome">
							</div>
							<ul class="post-job-bx">
								<li>
									<a href="#">
										<div class="d-flex m-b10">
											<div class="job-post-company">
												<span><img src="images/empresa/maqui_minas.jpg"/></span>
											</div>
											<div class="job-post-info">
												<h4>MaquiMinas - Equipamentos</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i> Rosário da Limeira</li>
													<li><i class="fa fa-clock-o"></i> Divulgando há 1 ano</li>
												</ul>
												<p class="m-t5 text-gray">Empresa com foco em fabricação, manutenção, reforma e venda de maquinários e equipamentos destinado a panificação e similares.</p>
											</div>
										</div>
										<div class="d-flex">
											<div class="job-time mr-auto">
												<span>Reforma</span>
												<span>Industria</span>
												<span>Manufatura</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="d-flex m-b10">
											<div class="job-post-company">
												<span><img src="images/empresa/delicias_da_serra.jpg"/></span>
											</div>
											<div class="job-post-info">
												<h4>Delícias da Serra - Padaria e Confeitaria</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i> Muriaé</li>
													<li><i class="fa fa-clock-o"></i> Divulgando há 2 anos</li>
												</ul>
												<p class="m-t5 text-gray">Padaria tradicional que oferece pães artesanais, bolos e doces caseiros com qualidade e atendimento diferenciado.</p>
											</div>
										</div>
										<div class="d-flex">
											<div class="job-time mr-auto">
												<span>Alimentação</span>
												<span>Varejo</span>
												<span>Padaria</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="d-flex m-b10">
											<div class="job-post-company">
												<span><img src="images/empresa/tecno_vale.jpg"/></span>
											</div>
											<div class="job-post-info">
												<h4>TecnoVale - Soluções em TI</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i> Muriaé</li>
													<li><i class="fa fa-clock-o"></i> Divulgando há 8 meses</li>
												</ul>
												<p class="m-t5 text-gray">Empresa especializada em suporte técnico, redes, desenvolvimento de sistemas e consultoria em tecnologia da informação.</p>
											</div>
										</div>
										<div class="d-flex">
											<div class="job-time mr-auto">
												<span>Tecnologia</span>
												<span>TI</span>
												<span>Serviços</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="d-flex m-b10">
											<div class="job-post-company">
												<span><img src="images/empresa/constru_minas.jpg"/></span>
											</div>
											<div class="job-post-info">
												<h4>ConstruMinas – Materiais de Construção</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i> Eugenópolis</li>
													<li><i class="fa fa-clock-o"></i> Divulgando há 6 meses</li>
												</ul>
												<p class="m-t5 text-gray">Loja de materiais para construção com ampla variedade de produtos para obras residenciais e comerciais.</p>
											</div>
										</div>
										<div class="d-flex">
											<div class="job-time mr-auto">
												<span>Construção</span>
												<span>Varejo</span>
												<span>Materiais</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="d-flex m-b10">
											<div class="job-post-company">
												<span><img src="images/empresa/agro_verde.jpg"/></span>
											</div>
											<div class="job-post-info">
												<h4>AgroVerde – Produtos Agrícolas</h4>
												<ul>
													<li><i class="fa fa-map-marker"></i> Miraí</li>
													<li><i class="fa fa-clock-o"></i> Divulgando há 3 anos</li>
												</ul>
												<p class="m-t5 text-gray">Distribuidora de insumos agrícolas, fertilizantes e ferramentas voltada ao pequeno e médio produtor rural.</p>
											</div>
										</div>
										<div class="d-flex">
											<div class="job-time mr-auto">
												<span>agronegócio</span>
												<span>Comércio</span>
												<span>Distribuição</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
							<div class="pagination-bx m-t30">
								<ul class="pagination">
									<li class="previous"><a href="#"><i class="ti-arrow-left"></i> Anterior</a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li class="next"><a href="#">Próxima <i class="ti-arrow-right"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4">
							<div class="sticky-top">
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Cidade</h5>
									<select>
										<option>Muriaé</option>
										<option>Rosário da Limeira</option>
										<option>Miraí</option>
									</select>
								</div>
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Categoria</h5>
									<div class="row m-l5">
										<div>
											<div class="product-brand">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check1" name="example1">
													<label class="custom-control-label" for="check1">Educação</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check2" name="example1">
													<label class="custom-control-label" for="check2">Finanças</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check3" name="example1">
													<label class="custom-control-label" for="check3">Saúde</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check4" name="example1">
													<label class="custom-control-label" for="check4">Construção</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check5" name="example1">
													<label class="custom-control-label" for="check5">Restaurante</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo/logo_footer.jpg" class="m-b15" alt=""/>
							<p class="text m-b20">A Emprega Muriaé é uma iniciativa desenvolvida por estudantes e profissionais da região, com o objetivo de aproximar empresas e candidatos, facilitando o acesso ao mercado de trabalho local.</p>
                            <div class="subscribe-form m-b20">
								<form action="#" method="post">
									<div class="input-group">
										<input name="" required class="form-control" placeholder="Seu e-mail" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Inscrever-se</button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Ajuda e Informações</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Para Candidatos</a></li>
                                <li><a href="#">Para Empresas</a></li>
                                <li><a href="#">Perguntas Frequentes</a></li>
								<li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
								<li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Encontre Vagas</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">Vagas em Muriaé</a></li>
                                <li><a href="#">Vagas remotas</a></li>
                                <li><a href="#">Estágios</a></li>
                                <li><a href="#">Vagas por área</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span>&copy; 2025 Emprega Muriaé. Todos os direitos reservados.</span></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>
</div>

<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 


</html>
