<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="styles-junto.css">
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<div class="page-content">
		<div class="section-full job-categories content-inner-2 bg-white">
			<div class="container">
				<!-- Cabeçalho da seção -->
				<div class="section-head text-center">
					<h2 class="m-b5">Categorias Populares</h2>
					<h5 class="fw4">Mais de 20 categorias de trabalho esperando por você</h5>
				</div>
				<!-- Lista as cetegorias em grid -->
				<div class="row sp20">
					<!-- Categoria: Design & Arte-->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-brush"></i></div>
								<a href="#" class="dez-tilte">Design & Arte</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-brush"></i></div> 
							</div>
						</div>				
					</div>
					<!-- Categoria: Educação -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-book"></i></div>
								<a href="#" class="dez-tilte">Educação</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-book"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Finanças -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-wallet"></i></div>
								<a href="#" class="dez-tilte">Finanças</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-wallet"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Recursos Humanos -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-user"></i></div>
								<a href="#" class="dez-tilte">Recursos Humanos</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-user"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Telecomunicação -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-headphone"></i></div>
								<a href="#" class="dez-tilte">Telecomunicação</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-headphone"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Restaurante -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-cup"></i></div>
								<a href="#" class="dez-tilte">Restaurante</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-cup"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Construção -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-hummer"></i></div>
								<a href="#" class="dez-tilte">Construção</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-hummer"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Saúde -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-heart"></i></div>
								<a href="#" class="dez-tilte">Saúde</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-heart"></i></div> 
							</div>
						</div>
					</div>
					<!-- Botão para visualizar todas as cetegorias -->
					<div class="col-lg-12 text-center m-t30">
						<button class="site-button radius-xl">Todas as Categorias</button>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 
</body>
</html>