<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="styles-junto.css">
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wraper">
	<!-- início do cabeçalgo (Header) -->
    <header class="site-header mo-left header fullwidth">
		<!-- Cabeçalho fixo com barra principal de navegação -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- Logo do site -->
                    <div class="logo-header mostion">
						<a href="index.html"><img src="images/logo/logo_navbar.png" class="logo" alt=""></a>
					</div>
                    <!-- Botão de menu responsivo (hambúrguer)-->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- Menu de navegação principal -->
                    <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
							<!-- Link: Página Inicial -->
							<li class="active">
								<a href="#">Home</a>		
							</li>
							<!-- Menu: Sou Candidato -->
							<li>
								<a href="#">Sou Candidato <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="vagas.html" class="dez-page">Vagas</a></li>
									<li><a href="empresas.html" class="dez-page">Empresas</a></li>
									<li><a href="cadastrar_curriculo.html" class="dez-page">Cadastrar Currículo</a></li>
								</ul>
							</li>
							<!-- Menu: Sou Empresa -->
							<li>
								<a href="#">Sou Empresa <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="publicar_vaga.html" class="dez-page">Publicar Vaga</a></li>
									<li><a href="candidatos.html" class="dez-page">Encontrar Candidatos</a></li>
								</ul>
							</li>
							<!-- Link: Blog -->
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<!-- Menu: Institucional -->
							<li>
								<a href="#">Institucional <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="sobre_nos.html" class="dez-page">Sobre Nós</a></li>
									<li><a href="contato.html" class="dez-page">Contato</a></li>
									<li><a href="politica_privacidade.html" class="dez-page">Política de Privacidade</a></li>
									<li><a href="termos_uso.html" class="dez-page">Termos de Uso</a></li>
								</ul>
							</li>
							<li>
								<a href="criar_conta.html" class="site-button"><i class="fa fa-user"></i> Criar Conta</a>		
							</li>
							<li>
								<a href="login.html" class="site-button"><i class="fa fa-lock"></i> Login</a>		
							</li>
						</ul>			
                    </div>
					<!-- Fim da navegação principal -->
                </div>
            </div>
        </div>
    </header>
	<div class="page-content">
        <!-- Banner com imagem de fundo e sopreposição escura (overlay)-->
		<div class="dez-bnr-inr dez-bnr-inr-md overlay-black-dark" style="background-image:url(images/main-slider/estatua_slider.jpg);">
            <!-- Container centralizado do conteúdo -->
			<div class="container">
				<!-- Entrada de conteúdo centralizado e com texto branco -->
                <div class="dez-bnr-inr-entry align-m text-white">
					<!-- Caixa de busca de vagas -->
					<div class="find-job-bx">
						<!-- Título de destaque -->
						<h2>Seu futuro começa com uma busca. <br/> <span class="span-banner">Encontre</span> a vaga ideal perto de você.</h2>
						<!-- Formulário de busca de vagas -->
						<form class="dezPlaceAni">
							<div class="row">
								<!-- Campo de pesquisa por palavra-chave -->
								<div class="col-lg-4 col-md-6">
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Ex: vendedor, recepcionista, pacote Office...">
											<div class="input-group-append">
												<span class="input-group-text"><i class="fa fa-search"></i></span>
											</div>
										</div>
									</div>
								</div>
								<!-- Filtro por cidade -->
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<select>
											<option>Muriaé</option>
											<option>Rosário da Limeira</option>
											<option>Miraí</option>
										</select>
									</div>
								</div>
								<!-- Filtro por área de atuação-->
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<select>
											<option>Educação</option>
											<option>Construção</option>
											<option>Finanças</option> 
										</select>
									</div>
								</div>
								<!-- Botão de busca -->
								<div class="col-lg-2 col-md-6">
									<button type="submit" class="site-button btn-block">Encontrar Vaga</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Fim da caixa de busca de vagas -->
				</div>
				<!-- Fim da entrada de conteúdo -->
            </div>
        </div>
		<div class="section-full job-categories content-inner-2 bg-white">
			<div class="container">
				<!-- Cabeçalho da seção -->
				<div class="section-head text-center">
					<h2 class="m-b5">Categorias Populares</h2>
					<h5 class="fw4">Mais de 20 categorias de trabalho esperando por você</h5>
				</div>
				<!-- Lista as cetegorias em grid -->
				<div class="row sp20">
					<!-- Categoria: Design & Arte-->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-brush"></i></div>
								<a href="#" class="dez-tilte">Design & Arte</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-brush"></i></div> 
							</div>
						</div>				
					</div>
					<!-- Categoria: Educação -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-book"></i></div>
								<a href="#" class="dez-tilte">Educação</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-book"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Finanças -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-wallet"></i></div>
								<a href="#" class="dez-tilte">Finanças</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-wallet"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Recursos Humanos -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-user"></i></div>
								<a href="#" class="dez-tilte">Recursos Humanos</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-user"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Telecomunicação -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-headphone"></i></div>
								<a href="#" class="dez-tilte">Telecomunicação</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-headphone"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Restaurante -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-cup"></i></div>
								<a href="#" class="dez-tilte">Restaurante</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-cup"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Construção -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-hummer"></i></div>
								<a href="#" class="dez-tilte">Construção</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-hummer"></i></div> 
							</div>
						</div>
					</div>
					<!-- Categoria: Saúde -->
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="icon-bx-wraper">
							<div class="icon-content">
								<div class="icon-md text-blue m-b20"><i class="ti-heart"></i></div>
								<a href="#" class="dez-tilte">Saúde</a>
								<p class="m-a0">198 Vagas Abertas</p>
								<div class="rotate-icon"><i class="ti-heart"></i></div> 
							</div>
						</div>
					</div>
					<!-- Botão para visualizar todas as cetegorias -->
					<div class="col-lg-12 text-center m-t30">
						<button class="site-button radius-xl">Todas as Categorias</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim da seção de categorias -->
		<!-- Seção de Call to Action com fundo de imagem e texto em destaque -->
		<div class="section-full content-inner-2 call-to-action overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(images/background/bg_prefeitura.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Título principal da chamada para ação -->
						<h2 class="m-b10">Destaque-se com seu currículo online!</h2>
						<!-- Texto explicativo -->
						<p class="m-b0">Cadastre seu currículo, encontre vagas locais e conquiste a oportunidade que você merece.</p>
						<!-- Botão para cadastro -->
						<a href="#" class="site-button m-t20 outline outline-2 radius-xl">Crie Sua Conta Agora</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Fim da seção Call to Action -->
		<div class="section-full bg-white content-inner-2">
			<div class="container">
				<div class="d-flex job-title-bx section-head">
					<div class="mr-auto">
						<h2 class="m-b5">Vagas Recentes</h2>
						<h6 class="fw4 m-b0">Mais de 20 vagas adicionadas recentemente</h6>
					</div>
					<div class="align-self-end">
						<a href="#" class="site-button button-sm">Veja Todas as Vagas <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">
						<ul class="post-job-bx">
							<li>
								<a href="vaga_detalhada.html">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/tecno_vale.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Desenvolvedor Front-End Júnior</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Muriaé, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Tempo Integral</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 5 dias</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Tempo Integral</span>
										</div>
										<div class="salary-bx">
											<span>R$2000 - R$3000</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/maqui_minas.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Assistente Administrativo</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Eugenópolis, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Meio Período</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 1 semana</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Meio Período</span>
										</div>
										<div class="salary-bx">
											<span>R$1200 - R$1600</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/delicias_da_serra.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Atendente de Restaurante</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Muriaé, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Temporário</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 2 dias</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Temporário</span>
										</div>
										<div class="salary-bx">
											<span>R$1000 - R$1400</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/constru_minas.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Auxiliar de Logística</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Miradouro, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Tempo Integral</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 5 dias</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Tempo Integral</span>
										</div>
										<div class="salary-bx">
											<span>R$1800 - R$2400</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/logo/icon1.png"/></span>
										</div>
										<div class="job-post-info">
											<h4>Professor de Inglês</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Rosário da Limeira, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Freelancer</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 2 semanas</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Freelancer</span>
										</div>
										<div class="salary-bx">
											<span>R$35/hora</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
						</ul>
						<div class="m-t30">
							<div class="d-flex">
								<a class="site-button button-sm mr-auto" href="#"><i class="ti-arrow-left"></i> Anterior</a>
								<a class="site-button button-sm" href="#">Próxima <i class="ti-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="sticky-top">
							<div class="candidates-are-sys m-b30">
								<div class="candidates-bx">
									<div class="testimonial-pic radius"><img src="images/proposito/emprega_muriae_proposito.jpg" alt="" width="100" height="100"></div>
									<div class="testimonial-text">
										<p>Nosso compromisso é fortalecer os laços entre empresas e talentos da região de Muriaé. Acreditamos que grandes oportunidades podem nascer perto de casa e estamos aqui para facilitar essa conexão.</p>
									</div>
									<div class="testimonial-detail"> <strong class="testimonial-name">Emprega Muriaé</strong></div>
								</div>
							</div>
							<div class="quote-bx">
								<div class="quote-info">
									<h4>Destaque-se com seu currículo online!</h4>
									<p>Crie seu currículo em minutos com o Emprega Muriaé!</p>
									<a href="#" class="site-button">Crie Sua Conta Agora</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-full p-tb70 overlay-black-dark text-white text-center bg-img-fix" style="background-image: url(images/background/bg_prefeitura.jpg);">
			<div class="container">
				<div class="section-head text-center text-white">
					<h2 class="m-b5">Nosso Propósito</h2>
					<h5 class="fw4">Construindo pontes entre talentos e oportunidades</h5>
				</div>
				<div class="blog-carousel-center owl-carousel owl-none">
					<div class="item">
						<div class="testimonial-5">
							<div class="testimonial-text">
								<p>Acreditamos que todo talento merece uma chance. Nossa missão é aproximar empresas locais de candidatos que buscam crescer profissionalmente em Muriaé e região.</p>
							</div>
							<div class="testimonial-detail clearfix">
								<div class="testimonial-pic radius shadow">
									<img src="images/proposito/emprega_muriae_proposito.jpg" width="100" height="100" alt="">
								</div>
								<strong class="testimonial-name">Conectando pessoas</strong> 
								<span class="testimonial-position">Emprega Muriaé</span> 
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-5">
							<div class="testimonial-text">
								<p>Desenvolvida por estudantes e profissionais da região, a plataforma nasceu com o objetivo de facilitar o acesso ao mercado de trabalho para todos.</p>
							</div>
							<div class="testimonial-detail clearfix">
								<div class="testimonial-pic radius shadow">
									<img src="images/proposito/logo_santa_marcelina_proposito.jpg" width="100" height="100" alt="">
								</div>
								<strong class="testimonial-name">Projeto de Extensão</strong> 
								<span class="testimonial-position">Faculdade Santa Marcelina</span> 
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-5">
							<div class="testimonial-text">
								<p>Acreditamos que cada jovem merece a chance de construir um futuro com dignidade. Nossa plataforma é um passo para tornar oportunidades mais acessíveis e transformar realidades.</p>
							</div>
							<div class="testimonial-detail clearfix">
								<div class="testimonial-pic radius shadow">
									<img src="images/proposito/emprega_muriae_proposito.jpg" width="100" height="100" alt="">
								</div>
								<strong class="testimonial-name">Transformando vidas</strong> 
								<span class="testimonial-position">Emprega Muriaé</span> 
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-5">
							<div class="testimonial-text">
								<p>Encontrar profissionais comprometidos e com vontade de crescer tem sido mais fácil com o apoio da plataforma. É uma iniciativa que valoriza os talentos da nossa própria comunidade.</p>
							</div>
							<div class="testimonial-detail clearfix">
								<div class="testimonial-pic radius shadow">
									<img src="images/proposito/silviane_proposito.jpg" width="100" height="100" alt="">
								</div>
								<strong class="testimonial-name">Silviane Lima</strong> 
								<span class="testimonial-position">Gerente, Loja CentralTech</span> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-full content-inner-2 overlay-white-middle">
			<div class="container">
				<div class="section-head text-black text-center">
					<h2 class="text-uppercase m-b0">Últimas Postagens</h2>
					<p>Confira dicas, notícias e conteúdos exclusivos para te ajudar a se destacar no mercado de trabalho da nossa região.</p>
				</div>
				<div class="blog-carousel owl-carousel owl-btn-center-lr owl-btn-3 owl-theme owl-btn-center-lr owl-btn-1">
					<div class="item">
						<div class="blog-post blog-grid blog-style-1">
							<div class="dez-post-media dez-img-effect radius-sm">
								<a href="#"><img src="images/blog/grid/pic1.jpg" alt=""></a>
							</div>
							<div class="dez-info">
								<div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>Maio 20, 2025</li>
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">12</a></li>
									</ul>
								</div>
								<div class="dez-post-title">
									<h5 class="post-title font-20"><a href="#">Como montar um currículo eficiente e atrativo</a></h5>
								</div>
								<div class="dez-post-text">
									<p>Descubra os principais elementos de um bom currículo e veja dicas simples para aumentar suas chances de ser chamado para entrevistas.</p>
								</div>
								<div class="dez-post-readmore blog-share">
									<a href="#" title="LER MAIS" rel="bookmark" class="site-button outline">LER MAIS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="blog-post blog-grid blog-style-1">
							<div class="dez-post-media dez-img-effect radius-sm">
								<a href="#"><img src="images/blog/grid/pic2.jpg" alt=""></a>
							</div>
							<div class="dez-info">
								<div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>Maio 15, 2025</li>
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">8</a></li>
									</ul>
								</div>
								<div class="dez-post-title">
									<h5 class="post-title font-20"><a href="#">Plataforma regional conecta talentos e empresas locais</a></h5>
								</div>
								<div class="dez-post-text">
									<p>Conheça o propósito da nossa plataforma e entenda como estamos aproximando empresas de candidatos na região de Muriaé e arredores.</p>
								</div>
								<div class="dez-post-readmore blog-share">
									<a href="#" title="LER MAIS" rel="bookmark" class="site-button outline">LER MAIS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="blog-post blog-grid blog-style-1">
							<div class="dez-post-media dez-img-effect radius-sm">
								<a href="#"><img src="images/blog/grid/pic3.jpg" alt=""></a>
							</div>
							<div class="dez-info">
								<div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>Abril 28, 2025</li>
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">3</a></li>
									</ul>
								</div>
								<div class="dez-post-title">
									<h5 class="post-title font-20"><a href="#">Dicas de entrevistas: o que evitar e como impressionar</a></h5>
								</div>
								<div class="dez-post-text">
									<p>Veja os principais erros cometidos em entrevistas de emprego e aprenda a se preparar para causar uma boa impressão desde o início.</p>
								</div>
								<div class="dez-post-readmore blog-share">
									<a href="#" title="LER MAIS" rel="bookmark" class="site-button outline">LER MAIS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="blog-post blog-grid blog-style-1">
							<div class="dez-post-media dez-img-effect radius-sm">
								<a href="#"><img src="images/blog/grid/pic4.jpg" alt=""></a>
							</div>
							<div class="dez-info">
								<div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>Abril 12, 2025</li>
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">4</a></li>
									</ul>
								</div>
								<div class="dez-post-title">
									<h5 class="post-title font-20"><a href="#">Tendências de contratação em pequenas empresas</a></h5>
								</div>
								<div class="dez-post-text">
									<p>Com a retomada econômica local, muitas micro e pequenas empresas estão em busca de novos talentos. Saiba como se posicionar.</p>
								</div>
								<div class="dez-post-readmore blog-share">
									<a href="#" title="LER MAIS" rel="bookmark" class="site-button outline">LER MAIS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="blog-post blog-grid blog-style-1">
							<div class="dez-post-media dez-img-effect radius-sm">
								<a href="#"><img src="images/blog/grid/pic4.jpg" alt=""></a>
							</div>
							<div class="dez-info">
								<div class="dez-post-meta">
									<ul class="d-flex align-items-center">
										<li class="post-date"><i class="fa fa-calendar"></i>Março 30, 2025</li>
										<li class="post-comment"><i class="fa fa-comments-o"></i><a href="#">2</a></li>
									</ul>
								</div>
								<div class="dez-post-title">
									<h5 class="post-title font-20"><a href="#">Como destacar seu perfil online para recrutadores</a></h5>
								</div>
								<div class="dez-post-text">
									<p>Aprenda estratégias práticas para melhorar sua visibilidade nas plataformas de emprego e redes sociais profissionais.</p>
								</div>
								<div class="dez-post-readmore blog-share">
									<a href="#" title="LER MAIS" rel="bookmark" class="site-button outline">LER MAIS</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo/logo_footer.jpg" class="m-b15" alt=""/>
							<p class="text m-b20">A Emprega Muriaé é uma iniciativa desenvolvida por estudantes e profissionais da região, com o objetivo de aproximar empresas e candidatos, facilitando o acesso ao mercado de trabalho local.</p>
                            <div class="subscribe-form m-b20">
								<form action="#" method="post">
									<div class="input-group">
										<input name="" required class="form-control" placeholder="Seu e-mail" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Inscrever-se</button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Ajuda e Informações</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Para Candidatos</a></li>
                                <li><a href="#">Para Empresas</a></li>
                                <li><a href="#">Perguntas Frequentes</a></li>
								<li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
								<li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Encontre Vagas</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">Vagas em Muriaé</a></li>
                                <li><a href="#">Vagas remotas</a></li>
                                <li><a href="#">Estágios</a></li>
                                <li><a href="#">Vagas por área</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span>&copy; 2025 Emprega Muriaé. Todos os direitos reservados.</span></div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 
</body>
</html>