<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>
    <!-- início do cabeçalgo (Header) -->
    <header class="site-header mo-left header fullwidth">
		<!-- Cabeçalho fixo com barra principal de navegação -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- Logo do site -->
                    <div class="logo-header mostion">
						<a href="index.html"><img src="images/logo/logo_navbar.png" class="logo" alt=""></a>
					</div>
                    <!-- Botão de menu responsivo (hambúrguer)-->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- Links extras: Criar Conta e Login -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a href="register.html" class="site-button"><i class="fa fa-user"></i> Criar Conta</a>
                            <a href="login.html" class="site-button"><i class="fa fa-lock"></i> Login</a>
                        </div>
                    </div>
                    <!-- Menu de navegação principal -->
                    <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">
							<!-- Link: Página Inicial -->
							<li class="active">
								<a href="#">Home</a>		
							</li>
							<!-- Menu: Sou Candidato -->
							<li>
								<a href="#">Sou Candidato <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="vagas.html" class="dez-page">Vagas</a></li>
									<li><a href="empresas.html" class="dez-page">Empresas</a></li>
									<li><a href="job-detail.html" class="dez-page">Cadastrar Currículo</a></li>
								</ul>
							</li>
							<!-- Menu: Sou Empresa -->
							<li>
								<a href="#">Sou Empresa <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="browse-candidates.html" class="dez-page">Publicar Vaga</a></li>
									<li><a href="candidatos.html" class="dez-page">Encontrar Candidatos</a></li>
								</ul>
							</li>
							<!-- Link: Blog -->
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<!-- Menu: Institucional -->
							<li>
								<a href="#">Institucional <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="sobre_nos.html" class="dez-page">Sobre Nós</a></li>
									<li><a href="contato.html" class="dez-page">Contato</a></li>
									<li><a href="politica_privacidade.html" class="dez-page">Política de Privacidade</a></li>
									<li><a href="#" class="dez-page">Termos de Uso</a></li>
								</ul>
							</li>
						</ul>			
                    </div>
					<!-- Fim da navegação principal -->
                </div>
            </div>
        </div>
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <div class="content-area">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="m-b10">
                        <!-- blog start -->
                        <div class="blog-post blog-single blog-style-1">
                            <div class="dez-post-title">
                                <h4 class="post-title m-t0 politica-title">Política de Privacidade - Emprega Muriaé</h4>
                            </div>
                            <div class="dez-post-text">
                                <p class="m-t10 m-b30"><span class="bold-text">Última Atualização: </span>01 de Junho de 2025</p>
                                
                                <h4>Introdução</h4>
                                <p>Bem-vindo à Política de Privacidade da plataforma Emprega Muriaé. 
                                    Para nós, a privacidade e a segurança dos dados dos nossos usuários, sejam eles candidatos buscando oportunidades ou empresas divulgando vagas, são prioridades absolutas. 
                                    Comprometemo-nos com a total transparência no tratamento dos dados pessoais coletados e utilizados em nossa plataforma. 
                                    Esta Política de Privacidade detalha como realizamos a coleta, o uso, o armazenamento, o compartilhamento e a transferência das informações dos usuários que acessam e utilizam nosso site e serviços, sempre em estrita conformidade com a legislação brasileira aplicável.</p>
                                <p>Ao utilizar os serviços da Emprega Muriaé, você declara estar ciente e concordar que suas informações pessoais serão coletadas e utilizadas conforme descrito nesta Política. 
                                    Este tratamento de dados está fundamentado nas normas de Proteção de Dados Pessoais, especialmente a Lei Geral de Proteção de Dados (LGPD - Lei Federal nº 13.709/2018), bem como nas disposições da Constituição Federal de 1988 (art. 5º, LXXIX; e art. 22º, XXX – incluídos pela EC 115/2022), do Código de Defesa do Consumidor (Lei Federal nº 8.078/1990) e demais normas pertinentes do ordenamento jurídico brasileiro.</p>
                                <p>A Emprega Muriaé, inscrita no CNPJ/MF sob o nº [], com sede em [], atua como Controladora dos Dados Pessoais coletados e tratados por meio desta plataforma e, portanto, obriga-se ao cumprimento do disposto nesta Política de Privacidade.</p>
                                
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>1. Quais dados coletamos sobre você e para qual finalidade?</h4>
                                <p>A plataforma Emprega Muriaé coleta e utiliza determinados dados pessoais de seus usuários, tanto candidatos quanto empresas, com o objetivo primordial de viabilizar a conexão entre talentos e oportunidades de emprego, além de aprimorar continuamente a experiência de uso dos nossos serviços. 
                                    Detalhamos abaixo os tipos de dados coletados e suas respectivas finalidades:</p>
                                <h5>1.1. Dados Pessoais Fornecidos Diretamente pelo Titular</h5>
                                <p class="bold-text">Para Candidatos:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Dados de Identificação e Contato:</span> Nome completo, endereço de e-mail, número de telefone, CPF, data de nascimento, endereço residencial. 
                                        <span class="bold-text">Finalidade:</span> Criação e gerenciamento da conta do usuário, comunicação sobre vagas, processos seletivos, atualizações da plataforma e suporte.
                                    </li>
                                    <li><span class="bold-text">Dados Profissionais e Acadêmicos (Currículo):</span> Histórico profissional (empresas, cargos, períodos, descrições de atividades), formação acadêmica (instituições, cursos, datas de conclusão), habilidades técnicas e comportamentais, idiomas, certificações, pretensão salarial, links para portfólios ou perfis profissionais (como LinkedIn).
                                        <span class="bold-text">Finalidade:</span> Disponibilização do perfil para empresas cadastradas, busca e compatibilização com vagas de emprego, análise de perfil para sugestão de oportunidades, participação em processos seletivos.
                                    </li>
                                    <li><span class="bold-text">Dados de Acessibilidade (Opcional):</span> Informações sobre necessidades especiais ou deficiências, caso o candidato opte por fornecer para concorrer a vagas afirmativas ou para garantir acessibilidade no processo seletivo.
                                        <span class="bold-text">Finalidade:</span> Cumprimento de cotas legais e promoção da inclusão, adequação de processos seletivos.
                                    </li>
                                </ul>
                                <p class="bold-text">Para Empresas:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Dados de Identificação e Contato da Empresa:</span> Razão Social, Nome Fantasia, CNPJ, endereço da sede, telefone comercial, e-mail institucional.  
                                        <span class="bold-text">Finalidade:</span> Criação e gerenciamento da conta da empresa, verificação da identidade e legitimidade da empresa, comunicação sobre candidatos, planos, pagamentos (se aplicável), atualizações da plataforma e suporte.
                                    </li>
                                    <li><span class="bold-text">Dados do Representante da Empresa:</span> Nome completo, cargo, e-mail corporativo, telefone de contato do responsável pelo recrutamento ou contato na plataforma.
                                        <span class="bold-text">Finalidade:</span> Gerenciamento do acesso da empresa à plataforma, comunicação direta sobre processos seletivos e funcionalidades.
                                    </li>
                                    <li><span class="bold-text">Informações sobre Vagas:</span> ítulo da vaga, descrição detalhada das responsabilidades e requisitos, local de trabalho, tipo de contrato, faixa salarial (ou a combinar), benefícios oferecidos.
                                        <span class="bold-text">Finalidade:</span> Divulgação das oportunidades de emprego para os candidatos cadastrados na plataforma.
                                    </li>
                                </ul>
                                <h5>1.2. Dados Pessoais Coletados Automaticamente</h5>
                                <p>Independentemente de ser candidato ou empresa, ao acessar e navegar na plataforma Emprega Muriaé, podemos coletar automaticamente os seguintes dados:</p>
                                <p class="bold-text">Para Empresas:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Dados de Navegação:</span> Endereço IP, tipo e versão do navegador, tipo e versão do sistema operacional, informações sobre o dispositivo de acesso (modelo, fabricante), data e hora dos acessos, páginas visitadas, tempo de permanência nas páginas, termos de busca utilizados, links clicados.  
                                        <span class="bold-text">Finalidade:</span> Garantir a segurança da plataforma (prevenção de fraudes e ataques), otimizar a performance e usabilidade do site, entender como os usuários interagem com a plataforma para aprimorar funcionalidades, realizar análises estatísticas agregadas e anônimas.
                                    </li>
                                    <li><span class="bold-text">Cookies:</span> Pequenos arquivos de texto armazenados no seu dispositivo. Utilizamos cookies essenciais para o funcionamento da plataforma, cookies de performance para análise de uso, cookies de funcionalidade para lembrar suas preferências e, eventualmente, cookies de publicidade (com seu consentimento prévio). 
                                        <span class="bold-text">Finalidade:</span> Proporcionar uma experiência de navegação personalizada e eficiente, análise de desempenho, segurança e direcionamento de conteúdo relevante. Detalhes sobre o uso de cookies estão em seção específica desta política.
                                    </li>
                                </ul>
                                
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>2. Como coletamos os seus dados?</h4>
                                <p>A coleta dos seus dados pessoais pela Emprega Muriaé ocorre principalmente das seguintes maneiras:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Quando você se cadastra na plataforma:</span> Seja como candidato, preenchendo o formulário de cadastro e informações do currículo, ou como empresa, fornecendo os dados cadastrais e do representante.</li>
                                    <li><span class="bold-text">Quando você utiliza a plataforma:</span> Ao navegar pelas páginas, buscar vagas ou candidatos, candidatar-se a oportunidades, publicar vagas, interagir com funcionalidades (como salvar vagas ou perfis), ou entrar em contato conosco.</li>
                                    <li><span class="bold-text">Através de Cookies:</span> Conforme descrito na seção 1.2 e detalhado na seção específica sobre Cookies.</li>
                                    <li><span class="bold-text">Por meio de Terceiros (com consentimento ou base legal):</span> Eventualmente, podemos receber dados de terceiros, como plataformas de recrutamento parceiras ou fontes públicas, sempre em conformidade com a legislação aplicável e, quando necessário, com o seu consentimento prévio.</li>
                                </ul>
                                <h5>2.1. Consentimento</h5>
                                <p>O tratamento dos seus dados pessoais na Emprega Muriaé é realizado primordialmente com base no seu consentimento livre, informado e inequívoco, ou em outras bases legais previstas na LGPD, como a execução de contrato (termos de uso da plataforma), cumprimento de obrigação legal ou regulatória, e legítimo interesse.</p>
                                <p>Seu consentimento é obtido de forma específica para as finalidades claras descritas nesta Política, especialmente durante o processo de cadastro e ao utilizar funcionalidades que envolvam o compartilhamento de dados (como a candidatura a uma vaga). 
                                    Ao fornecer seus dados pessoais e utilizar nossos serviços, você manifesta sua ciência e concordância com esta Política de Privacidade, reconhecendo seus direitos e como exercê-los.</p>
                                <p>Você tem o direito de revogar seu consentimento a qualquer momento, de forma gratuita e facilitada, através dos canais de contato indicados nesta política ou por funcionalidades específicas na plataforma (como a exclusão da conta). 
                                    É importante ressaltar que a revogação do consentimento pode impactar a sua capacidade de utilizar certas funcionalidades da plataforma ou participar de processos seletivos, sendo que eventuais consequências serão informadas previamente.</p>
                                
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>3. Quais são os seus direitos?</h4>
                                <p>A Emprega Muriaé preza pela garantia dos seus direitos como titular de dados pessoais, conforme previsto no artigo 18 da Lei Geral de Proteção de Dados (LGPD). Asseguramos que você pode, de maneira gratuita e a qualquer tempo, exercer os seguintes direitos:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Confirmação da existência de tratamento:</span> Você pode solicitar a confirmação se a Emprega Muriaé realiza o tratamento dos seus dados pessoais.</li>
                                    <li><span class="bold-text">Acesso aos dados:</span>Você pode solicitar acesso aos seus dados pessoais que são tratados por nós, requerendo uma cópia legível em formato impresso ou eletrônico seguro.</li>
                                    <li><span class="bold-text">Correção de dados incompletos, inexatos ou desatualizados:</span> Caso identifique que seus dados precisam de correção ou atualização, você pode solicitar a retificação.</li>
                                    <li><span class="bold-text">Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a LGPD:</span> Se entender que o tratamento de algum dado é desnecessário, excessivo ou não está de acordo com a lei, você pode solicitar que ele seja anonimizado (impossibilitando a identificação), bloqueado (suspendendo temporariamente o tratamento) ou eliminado.</li>
                                    <li><span class="bold-text">Portabilidade dos dados a outro fornecedor de serviço ou produto:</span> Mediante requisição expressa e observados os segredos comercial e industrial, você pode solicitar a portabilidade dos seus dados cadastrais para outra plataforma ou serviço, em formato interoperável.</li>
                                    <li><span class="bold-text">Eliminação dos dados pessoais tratados com o consentimento do titular:</span> Você pode solicitar a eliminação dos seus dados pessoais cujo tratamento foi baseado no seu consentimento, exceto nas hipóteses em que a lei autoriza a conservação (como cumprimento de obrigação legal ou regulatória).</li>
                                    <li><span class="bold-text">Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de dados:</span> Você tem o direito de saber com quais outras empresas ou entidades públicas a Emprega Muriaé compartilhou seus dados.</li>
                                    <li><span class="bold-text">Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa:</span> Esclarecemos quais as implicações caso você opte por não fornecer o consentimento para o tratamento de determinados dados.</li>
                                    <li><span class="bold-text">Revogação do consentimento:</span> Conforme mencionado, você pode revogar o seu consentimento para o tratamento dos dados a qualquer momento.</li>
                                </ul>

                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>4. Como você pode exercer seus direitos de titular?</h4>
                                <p>Para exercer qualquer um dos seus direitos como titular de dados pessoais, você deve entrar em contato com a Emprega Muriaé através dos seguintes meios disponibilizados:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">E-mail:</span> <a href="#"> empregamuriae1@gmail.com</a></li>
                                    <li><span class="bold-text">Formulário de Contato da Plataforma:</span><a href="contato.html"> Envie-nos uma mensagem</a></li>
                                    <li><span class="bold-text">Endereço Postal:</span>Av. Constantino Pinto 236, Muriaé, MG, 36880-000</li>
                                </ul>
                                <p>Para garantir a sua correta identificação como titular dos dados pessoais objeto da solicitação e para a segurança de todos, poderemos solicitar documentos ou outras informações que comprovem sua identidade antes de respondermos à sua requisição. Caso isso seja necessário, você será informado previamente sobre os procedimentos. Todas as solicitações serão tratadas com a devida diligência e respondidas dentro dos prazos legais estabelecidos pela LGPD.</p>

                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>5. Como e por quanto tempo seus dados serão armazenados?</h4>
                                <p>Os dados pessoais coletados pela Emprega Muriaé são utilizados e armazenados pelo tempo estritamente necessário para cumprir as finalidades para as quais foram coletados, conforme descrito nesta Política. 
                                    Isso inclui o período necessário para a prestação dos serviços da plataforma (como manter seu currículo ativo para candidaturas ou a conta da empresa para publicação de vagas), considerando sempre os direitos dos titulares, as obrigações legais e regulatórias da Emprega Muriaé e os prazos de prescrição aplicáveis.</p>
                                <p>De modo geral, seus dados serão mantidos enquanto a sua relação contratual ou de uso com a Emprega Muriaé perdurar (ou seja, enquanto sua conta estiver ativa). 
                                    Após o término dessa relação (por exemplo, com a exclusão da sua conta), poderemos reter alguns dos seus dados pessoais por períodos adicionais para fins de auditoria, cumprimento de obrigações legais ou regulatórias (como guarda de registros de acesso exigida pelo Marco Civil da Internet - Lei nº 12.965/2014), exercício regular de direitos em processos judiciais ou administrativos, prevenção à fraude, ou conforme necessário para proteger nossos direitos e interesses legítimos, sempre respeitando os limites impostos pela legislação.</p>
                                <p>Findo o prazo de manutenção legal ou a necessidade para as finalidades que justificaram a coleta, os dados pessoais serão excluídos de nossas bases de dados de forma segura ou serão anonimizados, impossibilitando a sua identificação, ressalvadas as hipóteses legalmente previstas para conservação.</p>
                                <p>O armazenamento dos dados é realizado em servidores seguros, localizados [Especificar localização dos servidores, ex: no Brasil ou em país com nível adequado de proteção de dados], utilizando tecnologias que visam garantir a proteção e a privacidade das informações.</p>
                            
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>6. O que fazemos para manter seus dados seguros?</h4>
                                <p>A Emprega Muriaé adota medidas de segurança técnicas e administrativas robustas, aptas a proteger os dados pessoais de acessos não autorizados, e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito. 
                                    Nosso compromisso é aplicar os controles de segurança apropriados, considerando a natureza dos dados pessoais tratados, o contexto e a finalidade do tratamento, e os riscos associados.</p>
                                <p>Entre as medidas que utilizamos, destacam-se:</p>
                                <ul class="m-l40">
                                    <li>Utilização de criptografia para dados em trânsito (protocolo HTTPS) e em repouso (quando aplicável).</li>
                                    <li>Controles de acesso rigorosos, baseados em perfis e funções, garantindo que apenas pessoas autorizadas tenham acesso aos dados pessoais necessários para suas atividades.</li>
                                    <li>Monitoramento contínuo dos nossos sistemas para detecção de vulnerabilidades e potenciais ataques.</li>
                                    <li>Políticas internas de segurança da informação e proteção de dados, com treinamentos regulares para nossos colaboradores.</li>
                                    <li>Utilização de firewalls, sistemas de detecção e prevenção de intrusão (IDS/IPS) e outras tecnologias de segurança de rede.</li>
                                    <li>Realização de backups regulares para garantir a recuperação de dados em caso de incidentes.</li>
                                </ul>
                                <p>Apesar de todos os nossos esforços, é importante ressaltar que nenhuma plataforma ou sistema é inteiramente seguro. 
                                        Caso ocorra qualquer incidente de segurança que possa acarretar risco ou dano relevante para você (como vazamento de dados), comunicaremos aos afetados e à Autoridade Nacional de Proteção de Dados (ANPD) sobre o ocorrido, em conformidade com as disposições da LGPD, e adotaremos as medidas necessárias para mitigar os danos.</p>
                                
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>7. Com quem seus dados são compartilhados?</h4>
                                <p>A Emprega Muriaé poderá compartilhar seus dados pessoais com terceiros em situações específicas, sempre com o objetivo de viabilizar nossos serviços, cumprir obrigações legais ou com base no seu consentimento, garantindo a transparência e a segurança.</p>
                                <p>O compartilhamento pode ocorrer nas seguintes hipóteses:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Com Empresas Cadastradas (para Candidatos):</span> Ao se candidatar a uma vaga, os dados do seu perfil/currículo serão compartilhados com a empresa responsável pela oportunidade de emprego para que ela possa realizar o processo seletivo. 
                                        Este compartilhamento é essencial para a finalidade principal da plataforma.</li>
                                    <li><span class="bold-text">Com Candidatos (para Empresas):</span> As informações sobre as vagas publicadas pelas empresas são compartilhadas com os candidatos cadastrados na plataforma.</li>
                                    <li><span class="bold-text">Com Fornecedores e Parceiros:</span> Podemos compartilhar dados com fornecedores de serviços essenciais para a operação da plataforma, como provedores de hospedagem de sites, serviços de armazenamento em nuvem, ferramentas de análise de dados (de forma anonimizada sempre que possível), plataformas de comunicação e suporte ao cliente, e processadores de pagamento (se aplicável). 
                                        Exigimos contratualmente que esses parceiros cumpram as normas de proteção de dados e utilizem as informações apenas para as finalidades contratadas.</li>
                                    <li><span class="bold-text">Para Cumprimento de Obrigação Legal ou Regulatória:</span> Seus dados poderão ser compartilhados mediante ordem judicial ou por requerimento de autoridades administrativas que detenham competência legal para sua requisição.</li>
                                    <li><span class="bold-text">Em Caso de Transações Societárias:</span> Em caso de fusão, aquisição, incorporação ou qualquer outra operação societária envolvendo a Emprega Muriaé, os dados poderão ser transferidos para a nova entidade controladora, que ficará obrigada a manter as condições desta Política de Privacidade.</li>
                                    <li><span class="bold-text">Com o seu Consentimento</span>Em outras situações não previstas acima, caso haja necessidade de compartilhar seus dados, solicitaremos o seu consentimento prévio e específico, informando claramente a finalidade do compartilhamento.</li>
                                </ul>
                                <h5>7.1. Transferência Internacional de Dados</h5>
                                <p>Alguns dos terceiros com quem compartilhamos seus dados podem estar localizados ou possuir instalações em países estrangeiros. 
                                    Nessas condições, de toda forma, seus dados pessoais estarão sujeitos à LGPD e às demais legislações brasileiras de proteção de dados.</p>
                                <p>Nesse sentido, a Emprega Muriaé se compromete a adotar padrões elevados de proteção de dados e a garantir que seus dados sejam tratados com segurança, respeitando as exigências legais. 
                                    Isso pode incluir a celebração de cláusulas contratuais específicas para transferência internacional de dados com nossos parceiros ou a verificação se o país de destino proporciona grau de proteção de dados adequado, conforme previsto na LGPD.</p>
                                <p>Ao concordar com esta Política de Privacidade, você concorda com esse compartilhamento, que se dará conforme as finalidades descritas neste instrumento.</p>
                                
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>8. Cookies ou dados de navegação</h4>
                                <p>A Emprega Muriaé utiliza Cookies, que são arquivos de texto enviados pela plataforma ao seu computador ou dispositivo móvel e que nele se armazenam, contendo informações relacionadas à navegação do site. 
                                    Em suma, os Cookies são utilizados para aprimorar a experiência de uso, facilitar a navegação e personalizar conteúdos.</p>
                                <p>Ao acessar nosso site e consentir com o uso de Cookies (através do nosso banner de gestão de cookies), você manifesta conhecer e aceitar a utilização de um sistema de coleta de dados de navegação com o uso de Cookies em seu dispositivo.</p>
                                <p>Utilizamos os seguintes tipos de cookies:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Cookies Essenciais:</span>Necessários para o funcionamento básico da plataforma, permitindo a navegação e o acesso a áreas seguras (como login).</li>
                                    <li><span class="bold-text">Cookies de Performance/Análise:</span>Coletam informações anônimas sobre como os usuários utilizam o site, como páginas mais visitadas e erros encontrados, ajudando-nos a melhorar o desempenho da plataforma.</li>
                                    <li><span class="bold-text">Cookies de Funcionalidade:</span>Permitem que o site se lembre de escolhas que você fez (como nome de usuário, idioma ou região) para proporcionar uma experiência mais personalizada.</li>
                                    <li><span class="bold-text">Cookies de Publicidade/Marketing (se aplicável e com consentimento):</span>Utilizados para direcionar anúncios mais relevantes para você e seus interesses, com base nos seus hábitos de navegação.</li>
                                </ul>
                                <p>Você pode, a qualquer tempo e sem nenhum custo, alterar as permissões, bloquear ou recusar os Cookies através das configurações do seu navegador. 
                                    Todavia, a revogação do consentimento de determinados Cookies pode inviabilizar o funcionamento correto de alguns recursos da plataforma.</p>
                                <p>Para gerenciar os cookies do seu navegador, basta fazê-lo diretamente nas configurações do navegador, na área de gestão de Cookies. 
                                    Você pode acessar tutoriais sobre o tema diretamente nos links abaixo:</p>
                                <ul class="m-l40">
                                    <li>Se você usa o <a href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>.</li>
                                    <li>Se você usa o <a href="https://support.mozilla.org/pt-BR/kb/gerencie-configuracoes-de-armazenamento-local-de-s">Firefox</a>.</li>
                                    <li>Se você usa o <a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac">Safari</a>.</li>
                                    <li>Se você usa o <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=pt-BR">Google Chrome</a>.</li>
                                    <li>Se você usa o <a href="https://support.microsoft.com/pt-br/help/4027947/microsoft-edge-delete-cookies">Microsoft Edge</a>.</li>
                                    <li>Se você usa o <a href="https://help.opera.com/en/latest/web-preferences/#cookies">Opera</a>.</li>
                                </ul>

                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>9. Alteração desta Política de Privacidade</h4>
                                <p>A Emprega Muriaé reserva-se o direito de modificar esta Política de Privacidade a qualquer tempo, principalmente em função da adequação a eventuais alterações feitas em nosso site ou em âmbito legislativo. 
                                    Recomendamos que você a revise com frequência.</p>
                                <p>Eventuais alterações entrarão em vigor a partir de sua publicação em nosso site e sempre notificaremos você acerca das mudanças ocorridas (seja através de aviso na plataforma, e-mail ou outro meio eficaz).</p>
                                <p>Ao utilizar nossos serviços e fornecer seus dados pessoais após tais modificações, você as consente. 
                                    A data da última atualização estará sempre indicada no início deste documento.</p>
                                
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>10. Responsabilidade</h4>
                                <p>A Emprega Muriaé prevê a responsabilidade dos agentes que atuam nos processos de tratamento de dados, em conformidade com os artigos 42 ao 45 da Lei Geral de Proteção de Dados.</p>
                                <p>Nos comprometemos em manter esta Política de Privacidade atualizada, observando suas disposições e zelando por seu cumprimento.</p>
                                <p>Além disso, também assumimos o compromisso de buscar condições técnicas e organizativas seguramente aptas a proteger todo o processo de tratamento de dados.</p>
                                <p>Caso a Autoridade Nacional de Proteção de Dados exija a adoção de providências em relação ao tratamento de dados realizado pela Emprega Muriaé, comprometemo-nos a segui-las.</p>
                                <h5>10.1. Isenção de responsabilidade</h5>
                                <p>Embora adotemos elevados padrões de segurança a fim de evitar incidentes, não há nenhuma página virtual inteiramente livre de riscos. 
                                    Nesse sentido, a Emprega Muriaé não se responsabiliza por:</p>
                                <p>I - Quaisquer consequências decorrentes da negligência, imprudência ou imperícia dos usuários em relação a seus dados individuais. 
                                    Garantimos e nos responsabilizamos apenas pela segurança dos processos de tratamento de dados e do cumprimento das finalidades descritas no presente instrumento. 
                                    Destacamos que a responsabilidade em relação à confidencialidade dos dados de acesso (login e senha) é do usuário.</p>
                                <p>II – Ações maliciosas de terceiros, como ataques de hackers, exceto se comprovada conduta culposa ou deliberada da Emprega Muriaé. 
                                    Destacamos que em caso de incidentes de segurança que possam gerar risco ou dano relevante para você ou qualquer um de nossos usuários/clientes, comunicaremos aos afetados e à Autoridade Nacional de Proteção de Dados sobre o ocorrido e cumpriremos as providências necessárias.</p>
                                <p>III – Inveracidade das informações inseridas pelo usuário/cliente nos registros necessários para a utilização dos serviços da Emprega Muriaé; quaisquer consequências decorrentes de informações falsas ou inseridas de má-fé são de inteira responsabilidade do usuário/cliente.</p>
                                <p>IV – Links externos contidos na plataforma que possam direcionar o usuário a ambientes externos à nossa rede (como sites de empresas parceiras ou artigos externos). 
                                    A Emprega Muriaé não possui controle sobre a privacidade e o conteúdo desses sites de terceiros, sendo responsabilidade do usuário verificar as políticas de privacidade aplicáveis a esses ambientes antes de fornecer seus dados.</p>
                            
                                <div class="dez-divider bg-gray-dark"></div>
                                <h4>11. Encarregado de Proteção de Dados (DPO)</h4>
                                <p>A Emprega Muriaé disponibiliza os seguintes meios para que você possa entrar em contato conosco para exercer seus direitos de titular ou para esclarecer quaisquer dúvidas sobre esta Política de Privacidade:</p>
                                <ul class="m-l40">
                                    <li><span class="bold-text">Nome do Encarregado (DPO):</span></li>
                                    <li><span class="bold-text">E-mail:</span></li>
                                    <li><span class="bold-text">Telefone:</span></li>
                                    <li><span class="bold-text">Endereço:</span></li>
                                </ul>
                                <p>Caso tenha dúvidas sobre esta Política de Privacidade ou sobre os dados pessoais que tratamos, você pode entrar em contato com o nosso Encarregado de Proteção de Dados Pessoais, através dos canais acima mencionados.</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Footer -->
        <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo/logo_footer.jpg" class="m-b15" alt=""/>
							<p class="text m-b20">A Emprega Muriaé é uma iniciativa desenvolvida por estudantes e profissionais da região, com o objetivo de aproximar empresas e candidatos, facilitando o acesso ao mercado de trabalho local.</p>
                            <div class="subscribe-form m-b20">
								<form action="#" method="post">
									<div class="input-group">
										<input name="" required class="form-control" placeholder="Seu e-mail" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Inscrever-se</button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Ajuda e Informações</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Para Candidatos</a></li>
                                <li><a href="#">Para Empresas</a></li>
                                <li><a href="#">Perguntas Frequentes</a></li>
								<li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
								<li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Encontre Vagas</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">Vagas em Muriaé</a></li>
                                <li><a href="#">Vagas remotas</a></li>
                                <li><a href="#">Estágios</a></li>
                                <li><a href="#">Vagas por área</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span>&copy; 2025 Emprega Muriaé. Todos os direitos reservados.</span></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- scroll top button -->
    <button class="scroltop fa fa-arrow-up" ></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 
</body>

</html>
