<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/templete.css">
	<link class="skin" rel="stylesheet" type="text/css" href="css/skin/skin-1.css">
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>
    <!-- Content -->
    <div class="page-content bg-white m-b40">
        <!-- contact area -->
        <div class="content-block">
            <!-- Job Detail -->
			<div class="section-full content-inner-1">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="sticky-top">
								<div class="row">
									<div class="col-lg-12 col-md-6">
										<div class="m-b30">
											<img src="images/empresa/tecno_vale.jpg" alt="Vaga Desenvolvedor Front-End Júnior">
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="widget bg-white p-lr20 p-t20 widget_getintuch radius-sm">
											<h4 class="text-black font-weight-700 p-t10 m-b15">Detalhes da Vaga</h4>
											<ul>
												<li><i class="ti-location-pin"></i>
													<strong class="font-weight-700 text-black">Localização:</strong>
													<span class="text-black-light">Muriaé - MG, Brasil</span>
												</li>
												<li><i class="ti-money"></i>
													<strong class="font-weight-700 text-black">Salário:</strong>
													R$ 2.500 a R$ 3.200 / mês
												</li>
												<li><i class="ti-shield"></i>
													<strong class="font-weight-700 text-black">Experiência:</strong>
													Mínimo de 1 ano na área
												</li>
												<li><i class="ti-briefcase"></i>
													<strong class="font-weight-700 text-black">Tipo de Contrato:</strong>
													CLT - Tempo Integral
												</li>
												<li><i class="ti-world"></i>
													<strong class="font-weight-700 text-black">Modalidade:</strong>
													Presencial
												</li>
												<li><i class="ti-calendar"></i>
													<strong class="font-weight-700 text-black">Prazo:</strong>
													30 de Junho de 2025
												</li>
												<li><i class="ti-tag"></i>
													<strong class="font-weight-700 text-black">Área:</strong>
													Tecnologia da Informação
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="job-info-box">
								<h3 class="m-t0 m-b10 font-weight-700 title-head">
									<a href="#" class="text-secondry m-r30">Desenvolvedor Front-End Júnior</a>
								</h3>
								<p class="p-t20">
									Estamos buscando um Desenvolvedor Front-End Júnior apaixonado por criar interfaces web modernas, responsivas e acessíveis. Você fará parte de uma equipe ágil e colaborativa, ajudando a transformar ideias em soluções reais que impactam milhares de usuários.
								</p>
								<h5 class="font-weight-600">Descrição da Vaga</h5>
								<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
								<p>
									Como Front-End Júnior, você será responsável por implementar layouts, integrar APIs e colaborar com designers e back-ends para entregar uma experiência fluida ao usuário final. O trabalho é 100% presencial em Muriaé e o contrato é CLT.
								</p>
								<h5 class="font-weight-600">Requisitos</h5>
								<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
								<ul class="list-num-count no-round">
									<li>- Conhecimentos básicos em HTML5, CSS3 e JavaScript</li>
									<li>- Experiência com frameworks como Bootstrap ou Tailwind</li>
									<li>- Noções de consumo de APIs REST</li>
									<li>- Boa comunicação e trabalho em equipe</li>
									<li>- Diferencial: experiência com Vue.js ou React</li>
								</ul>
								<h5 class="font-weight-600">Benefícios</h5>
								<div class="dez-divider divider-2px bg-gray-dark mb-4 mt-0"></div>
								<ul class="list-num-count no-round">
									<li>- Vale Transporte</li>
									<li>- Vale Refeição</li>
									<li>- Plano de Saúde e Odontológico</li>
									<li>- Plano de carreira com acompanhamento semestral</li>
								</ul>
								<a href="#" class="site-button m-t20">Candidatar-se à Vaga</a>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Job Detail -->
		</div>
    </div>
    <!-- Content END-->
	<!-- Footer -->
<footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
					<div class="col-xl-5 col-lg-4 col-md-12 col-sm-12">
                        <div class="widget">
                            <img src="images/logo/logo_footer.jpg" class="m-b15" alt=""/>
							<p class="text m-b20">A Emprega Muriaé é uma iniciativa desenvolvida por estudantes e profissionais da região, com o objetivo de aproximar empresas e candidatos, facilitando o acesso ao mercado de trabalho local.</p>
                            <div class="subscribe-form m-b20">
								<form action="#" method="post">
									<div class="input-group">
										<input name="" required class="form-control" placeholder="Seu e-mail" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="site-button radius-xl">Inscrever-se</button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Ajuda e Informações</h5>
                            <ul class="list-2 list-line">
                                <li><a href="#">Para Candidatos</a></li>
                                <li><a href="#">Para Empresas</a></li>
                                <li><a href="#">Perguntas Frequentes</a></li>
								<li><a href="#">Sobre Nós</a></li>
                                <li><a href="#">Contato</a></li>
								<li><a href="#">Política de Privacidade</a></li>
                                <li><a href="#">Termos de Uso</a></li>
                            </ul>
                        </div>
                    </div>
					<div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12">
                        <div class="widget border-0">
                            <h5 class="m-b30 text-white">Encontre Vagas</h5>
                            <ul class="list-2 w10 list-line">
                                <li><a href="#">Vagas em Muriaé</a></li>
                                <li><a href="#">Vagas remotas</a></li>
                                <li><a href="#">Estágios</a></li>
                                <li><a href="#">Vagas por área</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center"><span>&copy; 2025 Emprega Muriaé. Todos os direitos reservados.</span></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <button class="scroltop fa fa-chevron-up"></button>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 
</body>
</html>
