<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Suporte para acentos e carecteres especiais --> 
	<meta charset="utf-8">
	<!-- Permite que versões antigas do internet explorer consiga renderizar a página-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Descrição curta da página -->
	<meta name="description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Título exibido ao compartilhar a página em redes sociais -->
	<meta property="og:title" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Descrição que aperece junto do título-->
	<meta property="og:description" content="Emprega Muriaé | Vagas, Currículos e Oportuinidades" />
	<!-- Impede que navegadores trasformem números de telefone em links automaticamente a-->
	<meta name="format-detection" content="telephone=no">
	<!-- icone da página compatibilidade com todos os navegadores -->
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	<!-- Título da página -->
	<title>Emprega Muriaé | Vagas, Currículos e Oportuinidades</title>
	<!-- Define como o site deve se comportar em dispositivos móveis -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Carregar os stylesheet e arquivos de estilização da página -->
	<link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="styles-junto.css">
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dez-bnr-inr overlay-black-middle" style="background-image:url(images/banner/Banner_Vagas.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry">
                    <h1 class="text-white">Vagas</h1>
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li>Encontre a vaga perfeita para você!</li>
						</ul>
					</div>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white browse-job content-inner-2">
				<div class="container">
					<div class="row">
					<div class="col-lg-9">
						<ul class="post-job-bx">
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/tecno_vale.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Desenvolvedor Front-End Júnior</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Muriaé, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Tempo Integral</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 5 dias</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Tempo Integral</span>
										</div>
										<div class="salary-bx">
											<span>R$2000 - R$3000</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/maqui_minas.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Assistente Administrativo</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Eugenópolis, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Meio Período</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 1 semana</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Meio Período</span>
										</div>
										<div class="salary-bx">
											<span>R$1200 - R$1600</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/delicias_da_serra.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Atendente de Restaurante</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Muriaé, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Temporário</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 2 dias</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Temporário</span>
										</div>
										<div class="salary-bx">
											<span>R$1000 - R$1400</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/empresa/constru_minas.jpg"/></span>
										</div>
										<div class="job-post-info">
											<h4>Auxiliar de Logística</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Miradouro, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Tempo Integral</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 5 dias</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Tempo Integral</span>
										</div>
										<div class="salary-bx">
											<span>R$1800 - R$2400</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="d-flex m-b30">
										<div class="job-post-company">
											<span><img src="images/logo/icon1.png"/></span>
										</div>
										<div class="job-post-info">
											<h4>Professor de Inglês</h4>
											<ul>
												<li><i class="fa fa-map-marker"></i> Rosário da Limeira, Minas Gerais</li>
												<li><i class="fa fa-bookmark-o"></i> Freelancer</li>
												<li><i class="fa fa-clock-o"></i> Publicado há 2 semanas</li>
											</ul>
										</div>
									</div>
									<div class="d-flex">
										<div class="job-time mr-auto">
											<span>Freelancer</span>
										</div>
										<div class="salary-bx">
											<span>R$35/hora</span>
										</div>
									</div>
									<span class="post-like fa fa-heart-o"></span>
								</a>
							</li>
						</ul>
						<div class="pagination-bx m-t30">
							<ul class="pagination">
								<li class="previous"><a href="#"><i class="ti-arrow-left"></i> Anterior</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li class="next"><a href="#">Próximo <i class="ti-arrow-right"></i></a></li>
							</ul>
						</div>
					</div>
						<div class="col-xl-3 col-lg-4">
							<div class="sticky-top">
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Palavra Chave</h5>
									<div class="">
										<input type="text" class="form-control" placeholder="Ex: vendedor, recepcionista...">
									</div>
								</div>
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Cidade</h5>
									<select>
										<option>Qualquer Cidade</option>
										<option>Muriaé</option>
										<option>Rosário da Limeira</option>
										<option>Miraí</option>
									</select>
								</div>
								<div class="clearfix m-b30">
									<h5 class="widget-title font-weight-700 text-uppercase">Modalidade</h5>
									<div class="row m-l5">
										<div>
											<div class="product-brand">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check1" name="example1">
													<label class="custom-control-label" for="check1">Tempo Integral</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check2" name="example1">
													<label class="custom-control-label" for="check2">Meio Período</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check3" name="example1">
													<label class="custom-control-label" for="check3">Temporário</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" id="check4" name="example1">
													<label class="custom-control-label" for="check4">Freelancer</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix">
									<h5 class="widget-title font-weight-700 text-uppercase">Categoria</h5>
									<select>
										<option>Todas</option>
										<option>Design e Arte</option>
										<option>Educação</option>
										<option>Finanças</option>
										<option>Recursos Humanos</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <!-- Browse Jobs END -->
		</div>
    </div>
    <!-- Content END-->
</div>

<!-- JAVASCRIPT FILES ========================================= -->
<script src="js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/wow/wow.js"></script><!-- WOW JS -->
<script src="plugins/bootstrap/js/popper.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap-select/bootstrap-select.min.js"></script><!-- FORM JS -->
<script src="plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script><!-- FORM JS -->
<script src="plugins/magnific-popup/magnific-popup.js"></script><!-- MAGNIFIC POPUP JS -->
<script src="plugins/imagesloaded/imagesloaded.js"></script><!-- IMAGESLOADED -->
<script src="plugins/owl-carousel/owl.carousel.js"></script><!-- OWL SLIDER -->
<script src="js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/dz.carousel.js"></script><!-- SORTCODE FUCTIONS  -->
<script src="plugins/paroller/skrollr.min.js"></script><!-- PAROLLER --> 

</body>


</html>
